---
import { Icon } from "astro-icon/components";
---

<footer class="text-center py-4 space-y-2 text-zinc-600 dark:text-zinc-400">
  <p class="flex items-center">
    Crafted with
    <a
      href="https://astro.build"
      class="inline-block mx-2 focus-visible:global-focus"
    >
      <Icon
        name="logos:astro-icon"
        class="p-1 w-6 h-6 rounded-full bg-zinc-50"
      />
    </a>
    by
    <a
      href="https://x.com/oneminch"
      target="_blank"
      class="underline mx-2 focus-visible:global-focus"
    >
      @oneminch
    </a>
  </p>
</footer>
