---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="py-0 sm:py-4">
  <nav class="flex items-center justify-between">
    <h2 class="text-center">
      <a href="/" class="inline-block focus-visible:global-focus">
        <img src="/favicon.png" alt="Logo" class="w-10 h-10" />
      </a>
    </h2>

    <ThemeToggle />
  </nav>
</header>
