---
import { Icon } from "astro-icon/components";

type Props = {
  label: string;
  icon: string;
};

const { label, icon } = Astro.props;
---

<span class="inline-flex items-center gap-x-3">
  {label}
  <Icon name={icon} />
</span>
